
APP_HOST = "fast-api app host"
APP_PORT = "fast-api app port"

POSTGRES_DB = "your database name"
POSTGRES_USER = "your database user"
POSTGRES_PASSWORD = "your database password"
POSTGRES_HOST= "your database host"
POSTGRES_PORT= "your database port"

REDIS_HOST = "your redis host"
REDIS_PORT = "your redis port"
CACHE_EXPIRE = "redis cache expire in minutes" 

BINANCE_API_URL = "binance websocket url"
BINANCE_LISTEN_TIMEOUT = "binance parse timeout in secs"
